[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "ephysio"
authors = [
    {name = "Daniel Wagenaar", email = "daw@caltech.edu"},
]
description = "Tools for reading ephys data"
readme = "README.md"
version = "1.0.5"
dependencies = [
    "numpy"
]
